@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --popins: "Poppins", sans-serif;
  --background: #fff;
  --font-collor-primary: #2c98ff;
  --font-color-secondary: #5bb0ff;
  --box-shadow-primary: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.dark {
  --font-collor-primary: #F0F8FF;
  --font-color-secondary: #E1F1FF;
  --background: #000;
  --box-shadow-primary: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

* {
  font-family: var(--popins);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all ease 0.5s;
  text-decoration: none;
  list-style: none;
}

body{
    background-color: var(--background);
}



.container {
  width: 100%;
  box-shadow: var(--box-shadow-primary);
  
}

.nav {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px;
}

.nav-logo img {
  max-width: 45px;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-link {
  display: block;
  margin-left: 40px;
}

.nav-link a {
  color: var(--font-color-secondary);
  font-size: 18px;
  position: relative;
}

.nav-link .active {
  color: var(--font-collor-primary);
}

.toggle{
    display: none;
}

.toggle i{
    color: var(--font-collor-primary);
    font-size: 28px;
    cursor: pointer;
}

.testing{
    position: absolute;
    left: -100px;
}

.ontesting{
    opacity: 1;
    color: var(--font-collor-primary);
    left: 100px;
}

@media (max-width:768px) {
    .toggle{
        display: block;
    }

    .nav-list{
        position: fixed;
        z-index: 0;
        right: -100%;
        top: 200px;
    }

    .list-active{
        right: 50%;
       transform: translateX(50%); 
    }
}